* {
	box-sizing: border-box
}

body {
	font: $font-weight $font-size $font-family;
	line-height: $line-height;
	color: $black;
	background-color: $white;
	margin: 0;

	&._scroll-lock {
		height: 100%;
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,h2 {
	margin: 0;
}

input, select, button, textarea {
	appearance: none;
	box-shadow: none;
	border: none;
	outline: none;
	font-size: $font-size;
	font-family: $font-family;
	font-weight: $font-weight;
}
button {
	background-color: transparent;
	padding: 0;
	&:hover {
		cursor: pointer;
	}
	&:hover, &:focus-visible, &:focus {
		outline: none;
	}
}


img {
	display: block;
}

._center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.pic-wrapper {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}
}

.block {
	margin-bottom: 120px;

	&__title {
		margin-bottom: 40px;

		span {
			white-space: nowrap;
		}
	}

	@media (max-width: 576px) {
		margin-bottom: 70px;

		&__title {
			margin-bottom: 25px;
		}
	}
}


.logo-wrapper {
	display: flex;
	max-width: 170px;
	align-items: center;

	img {
		width: auto;
		max-width: 100%;
	}
}


/* Header */
.dim-bg {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.6);
	z-index: 91;
}

.header-fixed {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	&.sticky {
		transform: translateY(calc(-100% - 5px));
		transition: transform .2s ease;
		&.shown {
			transform: translateY(0);
		}
	}
}
.header {
	.burger {
		&-lines {
			height: 24px;
			width: 32px;
			z-index: 91;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.line {
				display: block;
				height: 2px;
				width: 100%;
				background-color: salmon;

				&-1 {
					transform-origin: 0% 0%;
					transition: transform 0.4s ease-in-out;
				}
				
				&-2 {
					transition: transform 0.2s ease-in-out;
				}
				
				&-3 {
					transform-origin: 0% 100%;
					transition: transform 0.4s ease-in-out;
				}
			}
		}

		&-lines, &-checkbox {
			position: fixed;
			top: 16px;
			right: 16px;
			display: none;
		}

		&-checkbox {
			height: 32px;
			width: 32px;
			z-index: 92;
			opacity: 0;
			cursor: pointer;
		}

		&-checkbox:checked {
			& ~ .burger-lines {
				.line-1 {
					transform: rotate(45deg);
				}
				.line-2 {
					transform: scale(0);
				}
				.line-3 {
					transform: rotate(-45deg);
				}
			}

			& ~ .burger-target {
				transform: translateY(0);
			}
		}
	}

	&__content {
		position: relative;
		z-index: 92;
	}

	ul {
		gap: 0;
		margin: 0;
		li {
			display: block;
			gap: 0;
			padding-left: 0;
			&::before {
				display: none;
			}
		}
	}
}

.nav {
	position: relative;

	&__links-body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: row;
	}

	&__link {
		position: relative;
		a {
			display: inline-block;
		}
	}

	.submenu {
		position: absolute;
		top: 100%;
		
		visibility: hidden;
		transition: all .2s ease;

		&.opened {
			visibility: visible;
		}
	}
}

// mobile-first
@media (min-width: 768px) {
	.nav {
		.submenu {
			opacity: 0;
			transform: translateY(20px);
	
			&.opened {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		.burger {
			&-lines, &-checkbox {
				display: flex;
			}

			&-target {
				position: absolute;
				left: 0;
				right: 0;
				transform: translateY(-100%);
				transition: all .2s ease;
			}
		}
	}

	.nav {
		&__links {
			flex-direction: column;
			align-items: flex-start;
		}
		&__link {
			width: 100%;

			a {
				display: block;
				width: 100%;
			}
		}

		.submenu {
			position: static;
			display: none;
			&.opened {
				display: block;
			}
		}
	}
}
/* Header end */

.wrap {
	&-block {
		overflow: hidden;
		&.wrap-shown {
			overflow: auto;
		}
	}

	&-container {
		position: relative;
	}
}

.breadcrumbs {
	padding-top: 40px;
	padding-bottom: 40px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		> li {
			&:not(:last-child)::after {
				content: ' / ';
			}

			&:last-child {
				a {
					color: salmon;
				}
			}
		}
	}
	&__link {
		display: inline-block;
		font-size: 18px;
		transition: color .2s ease;
		white-space: nowrap;
		&:hover {
			color: salmon;
		}
	}
}

.video {
	position: relative;
	cursor: pointer;

	&__preview {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
	&__play-btn {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
}
