include ../block/_mixins.pug

block vars

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= pageTitle

		// Подключение шрифтов
		//- <link rel="preconnect" href="https://fonts.googleapis.com">
		//- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		//- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		// Подключение стилей библиотек
		//- link(rel="stylesheet", href="./libs/bootstrap-5.1.3/bootstrap.css")
		//- link(rel="stylesheet", href="./libs/bootstrap-5.1.3/bootstrap-grid.min.css")
		//- link(rel="stylesheet", href="./libs/jquery-selectric/selectric.css")
		//- link(rel="stylesheet", href="./libs/swiper/swiper-bundle.min.css")
		//- link(rel="stylesheet", href="./libs/fancybox/fancybox.min.css")

		// Подключение пользовательских стилей
		link(rel="stylesheet", href="./css/main.css")
	body 
		block page


		

	// Подключение библиотек
	<script src="./libs/jquery/jquery-3.6.0.min.js"></script>
	//- <script src="./libs/jquery-selectric/jquery.selectric.js"></script>
	//- <script src="./libs/bootstrap-5.1.3/bootstrap.bundle.min.js"></script>
	//- <script src="./libs/swiper/swiper-bundle.min.js"></script>
	//- <script src="./libs/fancybox/fancybox.umd.js"></script>
	//- <script src="./libs/imask/imask.js"></script>

	// Подключение пользовательских скриптов
	script(src='./js/main.js')